.gradle/
build/
out/
*.class
*.jar
*.c
*.h
!sdk/**/*.c
!sdk/**/*.h
!cli/src/test/resources/golden/**/expected.c
!cli/src/test/resources/golden/**/expected.h
*.o
*.exe
*.log
vscode-extension/node_modules/
vscode-extension/dist/
vscode-extension/*.vsix
.kotlin/
gradle/*
!gradle/wrapper/
gradle/wrapper/*
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
sdk/cache/
build/
**/build/
.kode
.kode.json
rc0
